
:root {
  --primary : #85C170;
  --stroke : #555;
  --icon : #AFB6BD;
  --danger : #c17070;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Shojumaru', cursive;
  line-height: 1.25;
}

button {
  font-family: 'Shojumaru', cursive;
  line-height: 1.25;
  cursor: pointer;
}

/** utility classes */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flat-button, .button {
  background-color: transparent;
  border : none;
  outline: none;
  padding: 4px;
  transition: transform 200ms;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;
}

:is(.flat-button,.button) > * {
  vertical-align: middle;
}

.flat-button:active,
.button:active {
  transform: scale(0.95);
}

.flat-button.primary {
  color: var(--primary);
}

.button.primary {
  color: var(--primary);
  border: 1px solid var(--stroke);
}

.game-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

.game-button  img{
  width: 80px;
  margin-bottom: 6px;
}

.score {
  color: var(--stroke);
}

.hidden {
  display: none !important;
}

main {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-content,#game-over-content {
  width: 90%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
}

#start-content .logo {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}

#start-content .score {
  margin-bottom: 50px;
}

#game-over-content .logo {
  display: block;
  width: 40%;
  max-width: 360px;
  margin: auto;
  margin-bottom: 50px;
}

#game-over-content h2 {
  color: var(--primary);
  font-size: 64px;
  margin-bottom: 50px;
}

#game-over-content .score {
  margin-bottom: 36px;
}

#restart-button {
  margin-top: 50px;
}

#game-content .score-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#game-content  .score-container .score {
  padding-bottom: 12px;
  border-bottom: 4px solid var(--primary);
}

#game-content .button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 36px;
}

#game-content .button-container .button img{
  width: 24px;
  margin-right: 8px;
}

#gc-restart-button {
  margin-left: 50px;
}


/*.score-container .score{
  margin-bottom: 36px;
}*/

 #game-canvas {
  background-color: #eee; 
}

.dialog-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index : 10;
  background-color: rgba(0,0,0,0.4);
}

.dialog {
  width: 90%;
  padding: 50px;
  position: absolute;
  border-radius: 6px;
  background-color: #fff;
  color: var(--stroke);
}

.dialog .close {
  position: absolute;
  top: -16px;
  right: -16px;
  background-color: #fff;
  border: 2px solid var(--danger);
  border-radius: 50%;
}

.dialog .content .title {
  font-size: 24px;
  color: var(--primary);
  margin-bottom: 50px;
}

#info .dialog {
  max-width: 600px;
}


#info .dialog .content {
  max-height: calc(80vh - 100px);
  margin: 0 -24px;
  padding: 0 24px;
  overflow-y: auto;
}

#info .dialog .points {
  list-style: none;
  line-height: 2;
  margin-bottom: 50px;
}

#info .dialog .points li {
  margin-bottom: 24px;
}

#info .dialog .sub-title {
  color: var(--primary); 
}

#info .dialog .key-info > * {
  vertical-align: middle;
}

#info .dialog .key {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin: 0 4px;
  border-radius: 2px;
  border: 1px solid var(--icon);
}